<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %> | Leviro Utils</title>
<meta name="description" content="<%= description %>" />
<meta
  name="keywords"
  content="age calculator, currency converter, secret generator, password generator, world info, country data, developer tools, utility apps"
/>
<meta name="author" content="Leviro Utils" />
<meta name="theme-color" content="#4f46e5" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://leviro.net/" />
<meta property="og:title" content="<%= title %> | Leviro Utils" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:image" content="/images/leviro-512x512.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://leviro.net/" />
<meta property="twitter:title" content="<%= title %> | Leviro Utils" />
<meta property="twitter:description" content="<%= description %>" />
<meta property="twitter:image" content="/images/leviro-512x512.png" />

<link rel="stylesheet" href="/css/output.css" />
<link rel="manifest" href="/manifest.json" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<style>
  body {
    font-family: "Inter", sans-serif;
  }
</style>
